<!-- Footer -->
<footer class="bg-dark text-center text-lg-start text-light">
    <!-- Grid container -->
    <div class="container-fluid" style="padding-top: 75px;padding-bottom: 10px;">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">About Redstone </h5>

                <p>
                    Redstone is a only community where the local and international brands can showcase and sell there products
                </p>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">about us</h5>
                <ul style="list-style-type:none;">
                    <li>Design team</li>
                </ul>
                <ul style="list-style-type:none;">
                    <li>Backend team</li>
                </ul>
                <ul style="list-style-type:none;">
                    <li>Product team</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Join our community!</h5>
                <div class="subscribe">
                    <input type="email" placeholder="Email address" id="subscribe-email">
                    <button id="subscribe" style="border: 2px solid red;background-color: red;color: white;border-radius: 5px;" onclick="sendData()">Sign me up</button>
                </div>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; 2021 Copyright:
        <a class="text-danger" href="#">Redstone</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
