<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="Images/calendar.png" />
    <title>
        Redstone| Upload Products
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/usm/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color: rgb(196, 231, 255);">
    <%- include('partials/messages.ejs'); %>
    <div class="container mt-4">
        <h1 class="text-center text-success">Product Upload Form</h1>
        <form action="/seller" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="itemName">Product Name</label>
                <input type="text" class="form-control" placeholder="Enter product name" id="itemName" name="itemName">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" class="form-control" placeholder="Enter product description"></textarea>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" name="price" placeholder="Enter price">
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" name="quantity">
            </div>
            <div class="form-group">
                <label for="discount">Discount (in %)</label>
                <input type="number" class="form-control" id="discount" name="discount">
            </div>
            <div class="form-group">
                <label for="sel">Seller</label>
                <input type="text" class="form-control" id="seller" name="seller" placeholder="Enter sellar name">
            </div>
            <div class="form-group">
                <label for="productType">Product Type</label>
                <select class="form-control" id="productType" name="productType">
                    <option>Bags</option>
                    <option>Headphones</option>
                    <option>Watches</option>
                </select>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" accept="image/*" id="prodImg" name="prodImg">
                <label class="custom-file-label" for="prodImage">Upload Image</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit Product</button>
        </form>
    </div><br><br>

    <script>
        // name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        </script>

</body>
</html>